<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--MongoDB连接字符串-->
    <add key="MONGODB_CONNECTION" value="mongodb://localhost:27017"/>
    <!--MongoDB数据库名称-->
    <add key="MONGODB_DB" value="MongoDBDemo"/>
  </appSettings>
</configuration>